@import url('https://fonts.googleapis.com/css?family=Limelight');

body {
    padding: 0;
    margin: 0;
    font-family: 'Limelight', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.vNavBar {
    text-align: center;
    color: white;
    display: block;
    background-color: black;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.vNavBar li {
    padding: 20px;
}

.vButton {
    margin-left: 30px;
    margin-right: 30px;
    width: 200px;
    font-family: 'Limelight', sans-serif;
    font-size: 18px;
}

.vButton:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.profilePic {
    border-radius: 50%;
    height: 50px;
}

.hNavbar {
    display: flex;
    gap: 200px;


}
.hButton {
    margin: 30px;
    width: 80px;
    height: 50px;
    font-family: 'Limelight', sans-serif;
    background-color: black;
    color: white;
    border-color: white;

}

.hButton:hover {
    background-color:white;
    color: black;
    border-color: black;
    font-family: 'Limelight', sans-serif;

}

.selectedButton {

    background-color: black;
    color: white;
    border-color: white;
    width: 200px;
    font-family: 'Limelight', sans-serif;
    font-size: 18px;
}

.title {
    margin-left: 345px;
    margin-top: 30px;
    font-size: 50px;


}

.display {
    margin-left: 345px;
    border: 1px solid;
    border-spacing: 10px 10px;
    position: relative;
}

.display  tr{
    border: 1px solid;
}

.addButton {
    margin-left: 345px;
    margin-top: 30px;

}

.form {
    margin-left: 345px;
}

input {
    width: 25%;
}
input[type=text] {
    font-family: 'Limelight', sans-serif;

}

input[type=text]:focus {
    background-color: lightgray;
}