<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cinema E-Booking - Logout</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
   <nav>
    <div class="nav-container">
      <a href="#" class="logo">Cinema E-Booking</a>
      <div class="nav-dropdown">
        <button class="nav-dropdown-btn">
          <span class="nav-dropdown-line"></span>
          <span class="nav-dropdown-line"></span>
          <span class="nav-dropdown-line"></span>
        </button>
        <div class="nav-dropdown-content">
          <a href="/login">Login</a>
          <a href="/register">Register</a>
        </div>
      </div>
    </div>
  </nav>


  <div class="container">
    <h1>Successfully Logged Out</h1>
    <p>You have been logged out of the Cinema E-Booking system. Please <a href="login.html">click here</a> to log in again.</p>
    <button href="/">Return Home</button>
  </div>
</body>